@(user: String, friends: List[String])


<html>
    <head>
        <title>Messenger</title>
        <script type="text/javascript" charset="utf-8" src="@routes.Assets.at("javascripts/webSocket.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" type="text/css">
    </head>
    <body>
        <p id="userName">@user</p>
        <a href="@routes.Application.logout()">Logout</a>
        <div>
            <label for="kontaktListe">Kontakliste </label>
            <select name="top5" size="5" class="form-control" id="kontaktListe">
            @friends.map { friend =>
                <option>@friend</option>
            }
            </select>
        </div>
        <div align="center">
            <input id="message" type="text" class="form-control" placeholder="Nachricht " size="40">
            <button id="clickMe" class="btn btn-default" onclick="doSend ( )">ok</button>
            <div id="chatBox"></div>
        </div>


    </body>
</html>