@(form: Form[Application.BenutzerForm], message: String)

<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/signin.css")" type="text/css">

</head>
<body>

    <div class="form-signin">
    @helper.form(routes.Application.authenticate()) {
        <form class="form-signin" >
            <h2 class="form-signin-heading">Please sign in</h2>
            <h3 id="message" class="form-signin-heading">@message</h3>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" value="@form("email").value" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="@form("password").value" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p>
                <a href="@routes.Application.register()">Registrieren</a>
            </p>
        </form>
    }
    </div>

</body>
</html>