@(form: Form[Application.Benutzer], message: String)

<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
@helper.form(routes.Application.authenticate()) {
    <h1>Sign in</h1>
    <h2>@message</h2>
    <p>
        <input type="email" name="email" placeholder="Email" value="@form("email").value">
    </p>
    <p>
        <input type="password" name="password" placeholder="Password" value="@form("password").value">
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
}

<p>
    <a href="@routes.Application.register()">Registrieren</a>
</p>
</body>
</html>