@(form: Form[Application.BenutzerForm], message:String)

<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
@helper.form(routes.Application.registerBenutzer()) {
    <h1>Registrieren</h1>
    <h2>@message</h2>
    <p>
        <input type="name" name="name" placeholder="Name" value="@form("name").value">
    </p>
    <p>
        <input type="email" name="email" placeholder="Email" value="@form("email").value">
    </p>
    <p>
        <input type="password" name="password" placeholder="Password" value="@form("password").value">
    </p>
    <p>
        <button type="submit">Bestätigen</button>
    </p>
}
</body>
</html>